$darkGrey: grey;
$lightGrey: rgb(163, 163, 163);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

form {
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 400px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
  border: 3px solid red;

  h2 {
    margin: 0 0 50px 0;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: darken(#e5e5e5, 50%);
    border-bottom: solid 1px #e5e5e5;
  }

  p {
    margin: 0 0 3em 0;
    position: relative;
  }

  input {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 40px;
    color: #666;
  }

  .checkbox {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    color: #666;
  }

  span {
    display: block;
    background: #f9a5a5;
    padding: 2px 5px;
    color: #666;
  }

  input[type="submit"] {
    border-radius: 2px;
    border: none;
    color: #666666;
    cursor: pointer;
    display: block;
    font-size: 25px;
    line-height: 0.6;
    outline: none;
  }

  input[type="submit"]:hover {
    background: rgb(211, 129, 129);
  }

  label {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 14px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);

    &.floatLabel {
      top: -11px;
      background-color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
    }
  }
}

form .hidden {
  display: none;
}

// -----------------------landing page -----------------

.hidden {
  opacity: 0;
  filter: blur(5x);
  transform: translateX(-100%);
  transition: all 1s;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.header {
  display: flex;
  background-color: $darkGrey;
  justify-content: space-between;

  h1 {
    font-size: 1.2rem;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-right: 10px;
  }

  &__link {
    color: black;
    text-decoration: none;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &:hover {
      background-color: $lightGrey;
    }
  }
}

.events {
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .big-widget {
    margin: 15px;
    width: 100%;
    min-height: 200px;
    background-color: $lightGrey;

    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__featured {
      position: relative;

      margin: -20px 10px;
      height: 2rem;

      align-self: flex-end;

      transform-origin: 0 0;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);

      h3 {
        margin: 0;
        text-transform: uppercase;
      }
    }

    &__img-div {
      position: absolute;
      left: 3rem;

      width: 170px;
      animation-play-state: 1/1;
      background-color: $darkGrey;
      padding: 5px;

      img {
        width: 100%;
      }
    }

    &__info-container {
      margin-right: 10px;
      position: absolute;
      left: 250px;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        margin: 0;
        margin-bottom: 10px;
      }

      button {
        width: 100px;
        padding: 5px;
        align-self: flex-end;
      }
    }
  }

  &__small-widget {
    margin: 15px;
    width: 200px;
    aspect-ratio: 1/1;
    background-color: $lightGrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// ---------------------------------------------------
